body {
    background-color: #16161a;
    outline: none !important;
}

.nav-link, .navbar-brand {
    color: #fffffe !important;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

#navbarNav {
    float: right !important
}

hr {
    background-color: #fffffe;
}

.h1-format {
    color: #6243be;
    font-family: 'Lexend Exa', sans-serif;
}

.redirect-links {
    text-decoration: none !important;
}

.redirect-buttons {
    float: inline-end !important;
    /* color: #fffffe !important; */
}

.jump :hover {
    background-color: #fffffe;
    color: #6243be !important;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.active {
    border-bottom: 1px solid #fffffe !important;
    box-shadow: 0px 0px 0px 0px #16161a;
}

.link-button {
    margin-top: 1.5rem;
    text-decoration: none !important;
    background-color: #6243be;
    padding: 0.75rem;
    border-radius: 3rem;
    border: 2px solid #6243be;
    color: #fffffe;
    text-decoration: none;
}

.button-hover :hover {
    background-color: #fffffe !important;
    color: #6243be !important;
    border: 2px solid #6243be;
    font-weight: bold;
}

.vertical-center {
    /*margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    padding-top: 1rem;
}

.roundBorder {
    border-radius: 1.5rem;
    height: 3rem;
    width: 100%;
    align-items: center;
}

.alignCenter {
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    margin-left: 1rem;
}

.topic-name {
    font-family: 'Titillium Web', sans-serif;
}

.author-name {
    background-color: #72757e;
    color: white;
    font-size: small;
    width: fit-content;
    font-weight: bold;
    display: inline;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.readmore-line {
    font-size: small;
    font-family: 'Slabo 27px', serif;
    padding-top: 0.25rem;
    border-top: 1px solid gray;
    /* margin-top: 1rem; */
    display: inline-block;
}

.password-error {
    margin-bottom: 5px;
    text-align: center;
    color: rgb(207, 25, 12);
    font-size: smaller;
}

.checked {
    color: orange;
}

.description{
    font-family: 'Lato', sans-serif;
    color: #5c5d61;
}